*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  /*padding-top: 80px;*/
  /*for fixed header*/
  height: 100%;
}

.clear{
  clear: both;
}
.page{
  overflow-y: scroll;
  flex: 1 auto;
}
.wrapper{
  margin: 0 auto;
  max-width: 960px;
  position: relative;
  z-index: 2;
  padding: 0 10px;
}
.wrapper_full-width{
  max-width: none;
}
.header{
  background: green;
  color: #fff;
}
.header_fixed{
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
}
.footer{
  background: #333;
  color: #fff;
  margin-top: auto;
}

.movie{
  margin: 20px 0;
}

.movie__img-and-rating{
 display: inline-block;
}

.movie__img-and-rating img{
  min-width: 120px;
  max-width: 120px;
  width: 120px;
}

.rating span.fas,
.rating span.fa{
  color: orange;
}

.movie__descr{
 display: inline-block;
 vertical-align: top;
 margin-left: 20px;
}

.movie__descr .movie__title{
  margin-bottom: 15px;
}

.movie__descr .movie__title a{
  text-decoration: none;
  color: #333;
  font-size: 26px;
}

.movie__descr .movie__title a span{
  text-transform: uppercase;
}

.movie__descr .movie__short-info{
  font-style: italic;
  margin: 10px 0;
}

.movie__descr .movie__roles{
  margin: 15px 0;
}

.movie__descr .movie__year{
  margin: 15px 0;
}

.movie__descr .movie__intro{
  margin: 15px 0;
}

.movie__nav{
  text-align: center;
  margin: 20px 0;
}

.movie__nav .btn{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background: #06c7dc;
}

.movie__nav .btn_green{
  background: green;
}

.article{
  border: 2px solid #000;
  border-radius: 2px;
  padding: 15px;
}

.article__date{
  font-style: italic;
}

.article__rating{
  margin: 15px 0;
}

.article__rating span{
  color: orange;
}

.article__info-icons{
  margin: 15px 0;
}

.article__info-icons span:last-child{
  margin-left: 20px;
}

.article__info-icons span,
.article__info-icons span i{
  color: #06c7dc;
}


